*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  /* ===== FONTS ===== */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --fs-h1: 36px;
  --fs-h2: 30px;
  --fs-h3: 24px;
  --fs-text: 16px;
  --fs-icon: 24px;
  /* ====== DEFAULT COLORS ===== */
  --main-bg: #111111;
  --subtle-component-bg: #191919;
  --component-bg: #222222;
  --hovered-component-bg: #2A2A2A;
  --hovered-component-border: #606060;
  --interactive-component-border: #484848;
  --no-interactive-component-border: #3A3A3A;
  --text-color: #EEEEEE;
  --low-contrast-text-color: #B4B4B4;
  --opposite-text-color: #202020;
  /* ===== PAGE STRUCTURE ===== */
  --page-width: 1000px;
  --page-padding: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: #111111;
    --subtle-component-bg: #191919;
    --component-bg: #222222;
    --hovered-component-bg: #2A2A2A;
    --hovered-component-border: #606060;
    --interactive-component-border: #484848;
    --no-interactive-component-border: #3A3A3A;
    --text-color: #EEEEEE;
    --low-contrast-text-color: #B4B4B4;
    --opposite-text-color: #202020;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg: #FCFCFC;
    --subtle-component-bg: #F9F9F9;
    --component-bg: #F0F0F0;
    --hovered-component-bg: #E8E8E8;
    --hovered-component-hover: #BBBBBB;
    --interactive-component-border: #CECECE;
    --no-interactive-component-border: #D9D9D9;
    --text-color: #202020;
    --low-contrast-text-color: #646464;
    --opposite-text-color: #EEEEEE;
  }
}
body[data-theme=light] {
  --main-bg: #FCFCFC;
  --subtle-component-bg: #F9F9F9;
  --component-bg: #F0F0F0;
  --hovered-component-bg: #E8E8E8;
  --hovered-component-hover: #BBBBBB;
  --interactive-component-border: #CECECE;
  --no-interactive-component-border: #D9D9D9;
  --text-color: #202020;
  --low-contrast-text-color: #646464;
  --opposite-text-color: #EEEEEE;
}

body[data-theme=dark] {
  --main-bg: #111111;
  --subtle-component-bg: #191919;
  --component-bg: #222222;
  --hovered-component-bg: #2A2A2A;
  --hovered-component-border: #606060;
  --interactive-component-border: #484848;
  --no-interactive-component-border: #3A3A3A;
  --text-color: #EEEEEE;
  --low-contrast-text-color: #B4B4B4;
  --opposite-text-color: #202020;
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);
}

body {
  font-family: var(--font-secondary);
  font-size: var(--fs-text);
}

h1, h2, h3 {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

@media screen and (max-width: 425px) {
  :root {
    --fs-h1: 28px;
    --fs-h2: 24px;
    --fs-h3: 20px;
    --fs-text: 14px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 10px var(--page-padding);
  background-color: var(--main-bg);
  border-bottom: 1px solid var(--no-interactive-component-border);
}
.header__nav {
  display: flex;
  max-width: var(--page-width);
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .header__nav {
    justify-content: space-between;
  }
}
.header__wrapper {
  flex-basis: 33.3333333333%;
  min-width: max-content;
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-basis: auto;
  }
}
.header__page-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
@media screen and (max-width: 768px) {
  .header__page-links-wrapper {
    display: none;
  }
}
.header__theme-switchers-wrapper {
  display: flex;
  justify-content: flex-end;
}
.header__nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  padding: 5px;
  border-radius: 5px;
}
.header__nav-item:hover {
  background-color: var(--hovered-component-bg);
}
.header__nav-link {
  color: var(--text-color);
  text-decoration: none;
}
.header__icon {
  color: var(--text-color);
  font-size: var(--fs-icon);
}
.header__light-switcher, .header__dark-switcher {
  border: none;
  background-color: transparent;
}
@media (prefers-color-scheme: dark) {
  .header__light-switcher {
    display: block;
  }
  .header__dark-switcher {
    display: none;
  }
}
@media (prefers-color-scheme: light) {
  .header__light-switcher {
    display: none;
  }
  .header__dark-switcher {
    display: block;
  }
}
.header__theme-switcher[data-visible=true] {
  display: block;
}
.header__theme-switcher[data-visible=false] {
  display: none;
}

.main {
  padding: 0 10px 0 10px;
  max-width: var(--page-width);
  margin: 0 auto;
}
.main__section {
  margin-bottom: 100px;
}
@media screen and (max-width: 425px) {
  .main__section {
    margin-bottom: 70px;
  }
}
.main__section-title {
  margin-bottom: 20px;
}

.btn {
  background-color: var(--component-bg);
  border: 1px solid var(--no-interactive-component-border);
  border-radius: 5px;
  color: var(--text-color);
}

.btn:hover {
  background-color: var(--hovered-component-bg);
  border-color: var(--hovered-component-border);
}

.hero {
  min-height: 100vh;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__picture-wrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--hovered-component-bg);
}
.hero__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(2);
}
.hero__hello {
  font-weight: 500;
}
.hero__intro {
  text-align: center;
  margin-top: 25px;
  width: 46%;
  margin-bottom: 30px;
}
@media screen and (max-width: 650px) {
  .hero__intro {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .hero__intro {
    width: 100%;
  }
}
.hero__see-projects-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  text-decoration: none;
  padding: 10px 25px;
}

.card {
  background-color: var(--subtle-component-bg);
  border: 1px solid var(--interactive-component-border);
  padding: 20px;
  border-radius: 15px;
  color: var(--text-color);
}

.card--interactive {
  transition: border-color 0.2s ease;
}

.card--interactive:hover {
  border-color: var(--hovered-component-border);
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: max-content;
  gap: 20px;
}
.projects__project-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-decoration: none;
}
.projects__project-card-header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.projects__project-card-header::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #65DFBB;
  transition: opacity 0.2s ease;
}
.projects__project-card-description {
  color: var(--low-contrast-text-color);
}
.projects__project-card-footer {
  display: flex;
  column-gap: 10px;
  margin-top: auto;
}
.projects__project-card-techno-icon {
  width: 24px;
}
.projects__project-card:hover .projects__project-card-header::before {
  opacity: 1;
}

.skills__grid {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .skills__grid {
    grid-template-columns: 1fr;
  }
}
.skills__grid-item {
  border: 1px solid var(--no-interactive-component-border);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .skills__grid-item {
    flex-direction: column;
    gap: 20px;
  }
}
.skills__grid-item:last-child {
  grid-column: 1/-1;
}
.skills__techno-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.skills__techno-logo {
  width: 55px;
}
@media screen and (max-width: 768px) {
  .skills__techno-logo {
    width: 45px;
  }
}
.skills__techno-logo--spin {
  animation: 8s ease-in-out 0s infinite alternate spin;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.about-me__wrapper {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .about-me__wrapper {
    flex-direction: column;
  }
}
.about-me__content {
  color: var(--low-contrast-text-color);
}
.about-me__content a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}
.about-me__content a:hover {
  text-decoration: underline;
}
.about-me__picture-wrapper {
  width: 320px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--subtle-component-bg);
  object-position: bottom;
}
@media screen and (max-width: 700px) {
  .about-me__picture-wrapper {
    width: 300px;
    height: 300px;
    align-self: center;
  }
}
.about-me__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
