@import "mixins";

:root {
  /* ===== FONTS ===== */
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --fs-h1: 36px;
  --fs-h2: 30px;
  --fs-h3: 24px;
  --fs-text: 16px;
  --fs-icon: 24px;

  /* ====== DEFAULT COLORS ===== */
  @include dark;

  /* ===== PAGE STRUCTURE ===== */
  --page-width: 1000px;
  --page-padding: 5px;
}