.main {
  padding: 0 5px;
  max-width: var(--page-width);
  margin: 0 auto;

  &__section {
    margin-bottom: 100px;
    scroll-margin-top: 55.5px;

    @media screen and (max-width: 425px) {
      margin-bottom: 70px;
    }
  }

  &__section-title {
    margin-bottom: 20px;
  }
}
